.header{
	background:#fff;
}
section{
	padding:6rem 3rem;
}
.my_cart{
    background: #fff;
    min-height: 50rem;
    display:flex;
    flex-direction:column;
    justify-content:center
}
.my_cart>div{
    width:40rem;
    margin: 0 auto;
    text-align: center;
}
.img_empty{
    margin-bottom: 3rem;
}
.img_empty>img{
    width:8rem;
}
.oldnew{
    margin-top: 5rem;
}
.oldnew .btn{
    border-radius: 5px;
    width: 20rem;
    color:#fff;
    background:#67b168;
    font-size: 1.8rem;
    padding: 2rem 0;
}
.oldnew .btn:hover{
    background: #059157;
    transition: background-color 0.35s ease;
    -webkit-transition: background-color 0.35s ease;
}
.empty_cart{
	display:none;
}
.cart_detail{
	background:#fff;
}
.cart_bar{
	padding-top:5rem
}
.bar{
	margin:0;
}
.cart_bar a:hover{
	opacity:.7
}

.cart_content{
    padding:2rem 0;
    font-size: 1.3rem;
}
.cart_img{
    display: block;
    width:7rem;
    margin: 0 auto;
}
.cart_right>div{
    height:7rem;
    border-bottom: 1px solid #ddd;
    line-height: 7rem;
}
.cart_right input{
    line-height: normal;
}
.cart_right>div>div{
    height:100%;
}
.cart_right>div>div:nth-child(3) p{
    width:15rem;
    margin: 0;
    text-align: center;
}
.cart_labels{
    border:1px solid #f79a47;
    color:#f79a47;
    padding:0 0.5rem;
    margin-right: 1rem;
}
.cart_z img{
    display: inline-block;
    width:3rem;
}
.cart_detail a:hover{
    opacity: .5;
}
/**/
.select_count>div{
    position:relative;
}
.buy_count{
    border-radius: 5px ;
    border: 1px solid #ccc;
    outline: none;
    width: 15rem;
    height:4rem;
    text-align:center;
    padding:1.2rem 0;
}
.sel{
    position:absolute;
    width: 5rem;
    height:4rem;
    line-height:4rem;
    text-align:center;
    font-size:2rem;
    cursor:pointer;
}
.disable{
    cursor:not-allowed;
    color:#ddd;
}
.minus{
    top:1.5rem;
    left:0;
    border-right:0;
}
.add{
    top:1.5rem;
    left:10rem;
    border-left:0;
}
/**/

.cart_right{
    padding-left:0 ;
}
.cart_left{
    height:7rem;
}
.cart_left>.row{
	margin:0;
    height:100%;
    line-height: 7rem;
}
.cart_left>.row>div{
	padding:0;
}
.del{
    cursor: pointer;
}
.cart_z_name{
    display: inline-block;
}
.cart_content>.row{
    border-bottom: 1px solid #ddd;
    margin: 0;
}

@media (min-width:768px) {
    .cart_detail{
        padding:30px;
        margin-top: 30px;
    }
    .cart_title{
        padding-bottom:2rem;
        border-bottom: 1px solid #ddd;
        font-weight:bold;
        font-size:2rem;
    }
    section{
        background:#f5f5f5;
    }
    .xs_cart_img{
        display: none;
    }
    .xs_cart_count{
        display: none;
    }
    .cart_right>div.cart_z{
        border: 0;
    }
    .all_price{
        font-size:3rem;
    }
    .pcode{
        font-size:2.3rem;
    }
    .pdesc{
        color:#999;
        margin-right:0.5rem;
    }
    .bar{
        padding:1.5rem 0;
        width:15rem;
    }
	.back{
		display:none;
	}
}
@media (max-width:767px) {
    .header{
        display: none;
    }
    .footer{
        display: none;
    }
    .pdt_price,.add_price,.service_price{
        text-align: right;
    }
    .cart_content{
        font-size: 1.2rem;
    }
    .xs_cart_img{
        width:6rem;
    }
    .cart_right>div>div{
        padding: 0;
    }
    .cart_title{
        width:100%;
        position: fixed;
        top:0;
        left:0;
        border-bottom: 1px solid #ddd;
        text-align: center;
        height:5rem;
        line-height: 5rem;
        z-index: 1000;
		background:#fff;
    }
    .back{
        position: absolute;
        left:2rem;
        cursor: pointer;
    }
    .cart_left{
        padding: 0;
        text-align: center;
    }
    .cart_z_name{
        line-height: 2rem;
        vertical-align: middle;
    }
    .cart_z_name img{
        display: block;
        margin: 0 auto;
    }
    .cart_right>div.xs_cart_count{
        border: 0;
    }
    .xs_cart_jiesuan{
        width: 100%;
        position: fixed;
        left:0;
        bottom:0;
        font-size: 1.2rem;
        border-top: 1px solid #ddd;
		z-index:1000;
		background:#fff;
		-webkit-box-shadow: 0 -2px 10px rgba(26,26,26,0.1);
		box-shadow: 0 -2px 10px rgba(26,26,26,0.1);
		height:50px;
    }
	.xs_cart_jiesuan>div{
		height:5rem;
	}
	.jiesuan_left{
		text-align:left;
	}
    .bar{
        padding:1rem 0;
        width:12rem;
        cursor: pointer;
    }
    .all_price{
        font-size:1.5rem;
    }
    .pcode{
        font-size:1.3rem;
    }
    .pdesc{
        color:#999;
        margin-right:0.5rem;
    }
}